@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Dancing Script", cursive;
}
header {
  background-color:rgb(245, 238, 176);
  height: 8rem;
}
html{
  scroll-behavior: smooth;
}
#menu {
  display: flex;
  flex-wrap: wrap;
  height: 250vh;
  width: 100vw;
  border: 2px solid khaki;
  background-image: url(img/download\ \(1\).jpg);
}

.text {
  height: 100vh;
  width: 100vw;
  border: 2px solid khaki;
  scroll-margin-top: 9rem;
  align-items: center;
  background-image: url(img/download\ \(1\).jpg);
}

pre {
  color: rgb(117, 8, 8);
  font-size: 2rem;
  font-weight: bolder;
}
nav {
  background-color: rgb(241, 234, 174);
  border: 3px solid khaki;
  border-radius: 4rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  text-align: right;
  width: 100%;
}

li {
  display: inline-block;
  margin-inline: 1rem;
  height: 2rem;
}
li a {
  text-decoration: none;
  color: indigo;
  font-size: 1.5rem;
  font-weight: bolder;
}
a:hover {
  background-color: blueviolet;
  color: bisque;
  border-radius: 1rem;
}
header,
footer {
  position: sticky;
}
header {
  top: 0%;
}
footer {
  bottom: 0%;
}
footer {
  background-color:rgb(245, 238, 176);
  font-size: 1.5rem;
}
h2 {
  font-size: 2rem;
  text-align: center;
  color: rgb(117, 8, 8);
  height: 3rem;
  width: 7rem;
  background-color: khaki;
}
p {
  background-color: rgb(241, 234, 174);
  margin-left: 9rem;
  margin-right: 9rem;
  text-align: center;
  font-size: 3rem;
  width: fit-content;
  color: black;
}
.box {
  display: flex;
  justify-content: space-evenly;
}

figure {
  margin-top: 20px;
  display: flex;
  width: 400px;
  height: 300px;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 22px solid khaki;
  background-color: rgb(241, 234, 174);
   margin-left: 40px;
}
img {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 200px;
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
  border: 2px solid khaki;
  border-radius: 3px;
}
figcaption {
  display: flex;
  justify-content: end;
  align-items: end;
  font-weight: bolder;
  font-size: 2.5rem;
  color: rgb(117, 8, 8);
}
